<ion-header>
  <ion-toolbar style="padding-top:0">
    <ion-buttons slot="start">
        <ion-button color="medium" href="/home">
          <ion-icon slot="icon-only" name="camera"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>Fotos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div class="container has-navbar-fixed-top">
    <div *ngIf="fotos&&usuarios">
      <div class="columns is-multiline">
        <div *ngFor="let foto of fotos" class="column is-narrow">
          <app-img-box [foto]="foto" [usuarios]="usuarios"></app-img-box>
        </div>
      </div>
    </div>
  </div>
</ion-content>