<ion-card>
  <ion-img alt="img" src="{{path}}"></ion-img>
  <img class="cualidad" *ngIf="foto.cualidad=='linda'" alt="img" src="/assets/happy.svg">
  <img class="cualidad" *ngIf="foto.cualidad=='fea'" alt="img" src="/assets/sad.svg">
  <ion-toolbar>
    <ion-title>{{nombre}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="vote('down')">
        <ion-icon slot="icon-only" name="thumbs-down"></ion-icon>
      </ion-button>
      <ion-button (click)="vote('up')">
        <ion-icon slot="icon-only" name="thumbs-up"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>{{fecha | date: "dd/MM/yy HH:mm"}}</ion-title>
    <ion-buttons slot="end">
      <div class="votos">
        <p>{{foto.votos}}</p>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-card>