
.box{
    margin: 30px;
    padding: 2rem;
    background-color: #d2d2d2;
    border-radius: 5px;
    position: relative;
}

.cualidad {
    height: 5rem;
    position: absolute;
    top: 5px;
    right: 5px;
}

.votos {
    height: 3rem;
    width: 5rem;
    position: absolute;
    top: 22px;
    left: 13px;
    border-radius: 17px;
    border: 5px solid gray;
    background-color: white;
    text-align: center;
}

.votos p {
    font-size: 20px;
    margin: 10%;
}

.home-button {
    margin-top: 2rem;
    text-align: center;
}

.home-button a {
    width: 100%;
    height: 100%;
}

.votes {
    height: 4rem!important;
}