<ion-row *ngIf="path!=''" class="ion-justify-content-center margin">
  <div class="box">
    <ion-img alt="img" src="{{path}}"></ion-img>
    <img class="cualidad" *ngIf="foto.cualidad=='linda'" alt="img" src="/assets/happy.svg">
    <img class="cualidad" *ngIf="foto.cualidad=='fea'" alt="img" src="/assets/sad.svg">
    <div class="votos">
      <p>{{foto.votos}}</p>
    </div>
    <div class="buttons-section">
      <ion-row class="home-button">
        <ion-col>
          <a class="ion-justify-content-center margin" (click)="vote('down')">
            <img class="votes" alt="img" src="/assets/unlike.svg">
          </a>
        </ion-col>
        <ion-col>
          <a class="ion-justify-content-center margin" (click)="vote('up')">
            <img class="votes" alt="img" src="/assets/like.svg">
          </a>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-row>