<div class="option">
  <img class="option-img" alt="img" src="/assets/imagenes/{{category}}/{{option}}.svg">
  <ion-row class="idiomas">
    <ion-col (click)="playSound('frances')">
      <img src="/assets/imagenes/francia_box.svg">
    </ion-col>
    <ion-col (click)="playSound('espanol')">
      <img alt="img" src="/assets/imagenes/espana_box.svg">
    </ion-col>
    <ion-col (click)="playSound('ingles')">
      <img alt="img" src="/assets/imagenes/usa_box.svg">
    </ion-col>
  </ion-row>
</div>