<ion-header class="header">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Entrar
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="content">
    <ion-card color="light" class="welcome-card list" lines="none">
      <ion-row class="ion-justify-content-center ion-padding">
        <div class="profile-img">
        </div>
      </ion-row>
  
      <div class="form-error">{{loginError}}</div>
      <ion-row class="ion-justify-content-center">
        <ion-text color="dark">
          <h5>Luciana Varela</h5>
        </ion-text>
      </ion-row>
  
      <div class="margin">
        <div class="fields">
          <ion-input color="dark" type=password placeholder="Password" [(ngModel)]="password"></ion-input>
        </div>
        <ion-button class="fields" expand="full" (click)=login()>ENTRAR</ion-button>
      </div>
  
    </ion-card>
  
  </ion-content>
  