<ion-header class="ion-justify-content-center">
  <ion-toolbar style="padding-top:0">
    <ion-title>Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<div class="content">
  <ion-row class="category-button ion-justify-content-center">
    <a routerLink="/numeros">
      <ion-img src="/assets/imagenes/numeros.svg" class="img"></ion-img>
    </a>
  </ion-row>
  <ion-row class="category-button ion-justify-content-center">
    <a routerLink="/animales">
      <ion-img src="/assets/imagenes/animales.svg" class="img"></ion-img>
    </a>
  </ion-row>
  <ion-row class="category-button ion-justify-content-center">
    <a routerLink="/colores">
      <ion-img src="/assets/imagenes/colores.svg" class="img"></ion-img>
    </a>
  </ion-row>
</div>