.margin {
    margin: 2rem 0;
}

ion-img {
    height: 10rem;
}

.list {
    margin: 0 3rem;
}

ion-input {
    border: 2px solid #dddddd;
    margin-top: 1rem;
    text-align:center;
}

.content {
    padding-top:3rem;
}

.header {
    margin-bottom: 3rem;
}

.fields {
    margin-left: 1rem;
    margin-right: 1rem;
}

.profile-img {
    background-image: url(/assets/foto.jpg);
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    background-size: contain;
}